.wrp-deleteFilm {
    background: rgba(234, 233, 235, 0.95);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    border: 1px solid rebeccapurple;
    z-index: 10;
    width: 93.7%;
    max-width: 990px;
    min-height: 500px;
    align-self: center;
    justify-self: center;
    top: 120px;
    margin: 0 auto;
} 

.title-btn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.wrp-btn-del-seance {
    display: flex;
    margin: 0 auto;
    gap: 25px;
    margin-top: 50px;
}