.container {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  background-image: url("/bjImage.jpg");
  background-size: cover;
  background-position: right;
  padding-top: 14px;
}

.header__nav {
  padding: 0 14px;
  min-height: 40px;
  width: 100%;
  max-width: 990px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.films {
  display: flex;
  flex-direction: column;
  max-width: 990px;
  gap: 30px;
  margin: 0 auto;
  margin-top: 25px;
}
