.ticket-titel-text {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(199, 111, 0, 1);
  width: 242;
  height: 25;
  max-width: 360px;
  max-height: 25px;
  opacity: 1;
}

.qr-ticket {
  width: 200px;
  height: 200px;
  opacity: 1;
  top: 172px;
  left: 95px;
}

.buy-ticket-info {
  box-sizing: border-box;
  background: #f1ebe6f2;
  margin-top: 6px;
  position: relative;
  padding: 19px 15px 30px 15px;
}

.buy-ticket-info::before {
  content: "";
  background-image: url("/top-ticket.png");
  background-size: 12px;
  position: absolute;
  width: 100%;
  height: 3px;
  top: -3px;
  left: 0;
}

.buy-ticket-info::after {
  content: "";
  background-image: url("/bottom-ticket.png");
  background-size: 12px;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
}

.container-tickets {
  width: 100%;
  background-image: url("/bjImage.jpg");
  background-size: cover;
  background-position: right;
  padding: 14px 0px 186px 0px;
  height: 100%;
}

@media (min-width: 760px) {
  .container-tickets {
    height: 100%;
    padding: 14px 0px 0px 0px;
  }
  .buy-ticket-info {
    height: 100%;
  }
}
