.form-addHall-cancelBTN {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
  width: 146px;
  height: 40px;
  border-radius: 3px;
  opacity: 1;
  padding-top: 11.2px;
  padding-bottom: 11.9px;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  box-sizing: border-box;
}
