.wrp-auth-main {
  position: relative;
  background-image: url("/bgImageAuth.jpg");
  width: 100%;
  min-height: 100vh;
  margin-left: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.wrp-auth-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.wrp-logo-main {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.wrp-info-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 962px;
  width: 100%;
  margin: 0 auto;
}

.admin-section {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.03);
  transition: background 0.3s ease;
  position: relative;
}

.section-content {
  overflow: hidden;
}

/* .header-text {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
} */

@media (max-width: 767px) {
  .wrp-logo-main {
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

@media (min-width: 768px) {
  .wrp-logo-main {
    padding-left: 104px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
